<phpunit bootstrap="boot.php">
    <testsuites>
        <testsuite name="generic">
            <directory>generic</directory>
        </testsuite>
        <testsuite name="formatters">
            <directory>formatters</directory>
        </testsuite>
        <testsuite name="adapters">
            <directory>adapters</directory>
        </testsuite>
    </testsuites>
</phpunit>